<div class="row">
  <div class="col-md-12">
  <h1>Welcome to fantasy sports bet, we bet on games that dont matter with money that doesn't exist</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil sunt debitis praesentium dignissimos molestiae voluptatibus iste, perspiciatis beatae aut sint eligendi inventore, est animi quae ut nobis vitae, deserunt. Cum!</p>
<p>Marty, that's completely out of the question, you must not leave this house. you must not see anybody or talk to anybody. Anything you do could have serious reprocautions on future events. Do you understand? Whoa, whoa, kid, kid, stop, stop, stop, stop. My god, they found me. I don't know how but they found me. Run for it, Marty. My god, they found me. I don't know how but they found me. Run for it, Marty. Oh, uh, this is my Doc, Uncle, Brown. That Biff, what a character. Always trying to get away with something. Been on top of Biff ever since high school. Although, if it wasn't for him-

Let's get you into a radiation suit, we must prepare to reload. His head's gone, it's like it's been erased. Don't pay any attention to him, he's in one of his moods. Sam, quit fiddling with that thing, come in here to dinner. Now let's see, you already know Lorraine, this is Milton, this is Sally, that's Toby, and over there in the playpen is little baby Joey. A bolt of lightning, unfortunately, you never know when or where it's ever gonna strike. Erased from existence.

Wait a minute, what are you doing, Doc? Can't be. This is nuts. Aw, c'mon. Oh. Not a word, not a word, not a word now. Quiet, uh, donations, you want me to make a donation to the coast guard youth auxiliary? Precisely.

I'm writing this down, this is good stuff. Okay, real mature guys. Okay, Biff, will you pick up my books? Let's put him in there. Oh. Hey kid, what you do, jump ship?

Wrecked? Oh honey, he's teasing you, nobody has two television sets. Yeah well, you shouldn't drink. Pretty Mediocre photographic fakery, they cut off your brother's hair. C'mon, c'mon.

Marty, such a nice name. Yeah, yeah what are you wearing, Dave. What's that thing he's on? Who, who? George.

What? Never mind that, never mind that now, never mind that, never mind- You're gonna break his arm. Biff, leave him alone. Let him go. Let him go. Oh, I sure like her, Marty, she is such a sweet girl. Isn't tonight the night of the big date? No no no this sucker's electrical, but I need a nuclear reaction to generate the one point twenty-one gigawatts of electricity-

Stop it. I, I don't know. Believe me, Marty, you're better off not having to worry about all the aggravation and headaches of playing at that dance. Biff, stop it. Biff, you're breaking his arm. Biff, stop. Take that you mutated son-of-a-bitch. My pine, why you. You space bastard, you killed a pine.

You guys, take him in back and I'll be right there. Well c'mon, this ain't no peep show. I'd like you to meet my good friend George McFly. My equipment, that reminds me, Marty, you better not hook up to the amplifier. There's a slight possibility for overload. No, I refuse to except the responsibility. He's alright.

Calvin, why do you keep calling me Calvin? Back to the future. Yeah, gimme a Tab. Yeah I know, If you put your mind to it you could accomplish anything. Indeed I will, roll em. I, Doctor Emmett Brown, am about to embark on an historic journey. What have I been thinking of, I almost forgot to bring some extra plutonium. How did I ever expect to get back, one pallet one trip I must be out of my mind. What is it Einy? Oh my god, they found me, I don't know how but they found me. Run for it, Marty.

What about George? No no no this sucker's electrical, but I need a nuclear reaction to generate the one point twenty-one gigawatts of electricity- I noticed you band is on the roster for dance auditions after school today. Why even bother Mcfly, you haven't got a chance, you're too much like your own man. No McFly ever amounted to anything in the history of Hill Valley. What? She's just trying to keep you respectable.

No no no no no, Marty, both you and Jennifer turn out fine. It's your kids, Marty, something has got to be done about your kids. Mayor Goldie Wilson, I like the sound of that. You guys, take him in back and I'll be right there. Well c'mon, this ain't no peep show. Alright, c'mon, I think we're safe. Sam, here's the young man you hit with your car out there. He's alright, thank god.

I'll get it back to you, alright? Of course not, Biff, now I wouldn't want that to happen. Now, uh, I'll finish those reports up tonight, and I'll run em them on over first thing tomorrow, alright? Okay. Well, you mean, it makes perfect sense. Now, Biff, um, can I assume that your insurance is gonna pay for the damage?

Yeah, who are you? Doc, she's beautiful. She's crazy about me. Look at this, look what she wrote me, Doc. That says it all. Doc, you're my only hope. Marty, you're acting like you haven't seen me in a week. Well, what if they didn't like them, what if they told me I was no good. I guess that would be pretty hard for somebody to understand. My god, it's my mother. Put your pants back on.

Leave her alone, you bastard. Whoa, wait a minute, Doc, are you telling me that my mother has got the hots for me? Okay. Okay, that's enough. Now stop the microphone. I'm sorry fellas. I'm afraid you're just too darn loud. Next, please. Where's the next group, please. Hey I'm talking to you, McFly, you Irish bug.

Right. Alright, McFly, you're asking for it, and now you're gonna get it. This is more serious than I thought. Apparently your mother is amorously infatuated with you instead of your father. Do you mind if we park for a while? Where were we.

Don't tell me. Uh, you want me to buy a subscription to the Saturday Evening Post? Nothing, nothing, nothing, look tell her destiny has brought you together, tell her that she's the most beautiful you have ever seen. Girls like that stuff. What, what are you doing George? C'mon, he's not that bad. At least he's letting you borrow the car tomorrow night. Hey Dad, George, hey, you on the bike. What?

Well looky what we have here. No no no, you're staying right here with me. Well just gimme something without any sugar in it, okay? Aw yeah, everything is great. Uh, well, I gotta go. C'mon.

Let's get you into a radiation suit, we must prepare to reload. We do now. Whoa, wait a minute, Doc, are you telling me that my mother has got the hots for me? Biff. What did your mother ever see in that kid?

Yeah, I'm- mayor. Now that's a good idea. I could run for mayor. He's an absolute dream. No. What? Chuck, Chuck, its' your cousin. Your cousin Marvin Berry, you know that new sound you're lookin for, well listen to this.</p>
<br>
  </div>
</div>
