<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fantasy Sports Bet</title>
  <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="nav navbar-header">
      <a class="navbar-brand" href="#">Fantasy Sports Bet</a>
      <a class="navbar-brand glyphicon glyphicon-home" aria-hidden="true" href="/">Home</a>
      <a class="navbar-brand glyphicon glyphicon-play" href="/games">Show-Games</a>

      <% if logged_in? %>
      <a class="navbar-brand glyphicon glyphicon-usd" href="/bets">My-Bets</a>
      <a class="navbar-brand glyphicon glyphicon-user" href="/user/edit">Account-Information</a>
      <%end%>
    </div>

    <% if !logged_in? %>
    <form action="/session" method="post" class="navbar-form navbar-right">
      <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Sign In</button>
      <a href="/user/new" class="btn btn-default">Register</a>
    </form>
    <% end %>
    <% if logged_in? %>
    <form action="/session" method="post" class="navbar-form navbar-right">
      Logged in as <%=current_user.email_address%>
    <input type="hidden" name="_method" value="delete">
    <button>Sign out</button>
    </form>
    <% end %>
  </div>
</nav>

<div class="container">
  <%= yield %>
</div>
  <footer class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <div class='marquee'>
        <div class='marquee-text'>
          <span>This is Fantasy Sports Bet @</span>
          <span>"You miss 100% of the shots you don't take" - Michael Scott</span>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>

<script>
var marquee = $('div.marquee');
marquee.each(function() {
  var mar = $(this),indent = mar.width();
  mar.marquee = function() {
      indent--;
      mar.css('text-indent',indent);
      if (indent < -1 * mar.children('div.marquee-text').width()) {
          indent = mar.width();
      }
  };
  mar.data('interval',setInterval(mar.marquee,1000/60));
});
</script>
