<div class="row">
  <div class="col-md-12">
    <h1>Registration Status</h1>
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading"><strong><%= @message %></strong></h4>
      <p>Your username is <%= @email %></p>
      <p class="mb-0">You may now login and start playing! </p>
    </div>
  </div>
</div>
